
.jc-carousel-container{
    width: 100%;
    max-height: 100%; /* Set desired height */
    overflow: hidden;
    background-color: lightgrey;    
}

.jc-carousel-container img{
    width: auto;
    height: 100%;
    object-fit: contain;
}